.idFrontrIcon {
  position: relative;
  width: 66.62px;
  height: 52.05px;
}
.wecoverHealthInsurance {
  position: relative;
  text-transform: uppercase;
}
.idFront,
.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plan {
  align-self: stretch;
}
.idFront {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-cornflowerblue-100);
  height: 150px;
  overflow: hidden;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--caption-size);
  color: var(--brand-black);
  font-family: var(--font-figtree);
}
