.container {
  /* font-size: var(--font-size-5xl); */
  color: var(--brand-black);
  font-family: var(--font-figtree);
}
.heading {
    font-weight: 600;
}
.box {
    display: flex;
    justify-content: space-between;
}
.boxChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 330px;
    border-radius: 20px;
    background-color: rgba(251, 251, 251, 1);
    /* margin: 4px; */
}
.boxChild1 {
    background-color: rgba(0, 167, 255, 0.1);
    margin-right: 4px;
}
.inputBox {
}
.input {
    margin: 4px;
}